<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>home.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>UserLogin</servlet-name>
        <servlet-class>com.user.UserLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckDue</servlet-name>
        <servlet-class>com.user.CheckDue</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddQuery</servlet-name>
        <servlet-class>com.user.AddQuery</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePassword</servlet-name>
        <servlet-class>com.user.ChangePassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>com.user.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLogin</servlet-name>
        <servlet-class>com.admin.AdminLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddRoom</servlet-name>
        <servlet-class>com.admin.AddRoom</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddMember</servlet-name>
        <servlet-class>com.admin.AddMember</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteQuery</servlet-name>
        <servlet-class>com.admin.DeleteQuery</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Due</servlet-name>
        <servlet-class>com.admin.Due</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MakeRoomAvailable</servlet-name>
        <servlet-class>com.admin.MakeRoomAvailable</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLogout</servlet-name>
        <servlet-class>com.admin.AdminLogout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetRoom</servlet-name>
        <servlet-class>com.book.SetRoom</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Booking</servlet-name>
        <servlet-class>com.book.Booking</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteRoomRequest</servlet-name>
        <servlet-class>com.admin.DeleteRoomRequest</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserLogin</servlet-name>
        <url-pattern>/UserLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckDue</servlet-name>
        <url-pattern>/CheckDue</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddQuery</servlet-name>
        <url-pattern>/AddQuery</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePassword</servlet-name>
        <url-pattern>/ChangePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLogin</servlet-name>
        <url-pattern>/AdminLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddRoom</servlet-name>
        <url-pattern>/AddRoom</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddMember</servlet-name>
        <url-pattern>/AddMember</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteQuery</servlet-name>
        <url-pattern>/DeleteQuery</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Due</servlet-name>
        <url-pattern>/Due</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MakeRoomAvailable</servlet-name>
        <url-pattern>/MakeRoomAvailable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLogout</servlet-name>
        <url-pattern>/AdminLogout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetRoom</servlet-name>
        <url-pattern>/SetRoom</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Booking</servlet-name>
        <url-pattern>/Booking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteRoomRequest</servlet-name>
        <url-pattern>/DeleteRoomRequest</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
